body, html {
  margin: auto;
  padding: 0;
  overflow: hidden; /* Impede a barra de rolagem horizontal */
  max-width: 800px;
  height: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .3rem;
  background-color: transparent;
  width: 70%;
  max-width: 350px;
  min-width: 150px;
  border-radius: 5px;
  position: absolute; 
  top: 47.5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.line {
  background-color: #eee;
  padding: .3rem;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: bold;
  /* Defina a posição inicial fora da tela */
  transform: translateX(-100%);
}

.animacao {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Defina os keyframes para a animação */
@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0%);
  }
}

.column .line:last-child {
  background-color: transparent;
}

.dragging {
  opacity: 0.5;
}

.message {
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 10px;
  opacity: 0;
  font-family: "Cooper Black";
  font-weight: bold;
  font-size: 3.25vb;
  width: 100%;
  text-align: center;
}

.message-show {
  opacity: 1;
}

#message-correct {
  color: #228b22;
  animation: correct 0.5s;
  animation-iteration-count: 3;
}

#message-wrong {
  color:#ff0000;
  animation: wrong 0.1s;
  animation-iteration-count: 3;
}


@keyframes wrong {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}

@keyframes correct {
  0% {font-size: 3.5vb;}
  25% {font-size: 3.75vb;}
  50% {font-size: 4vb;}
  75% {font-size: 3.75vb;}
  100% {font-size: 3.5vb;}
}


