body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: transparent;
  min-width: 300px;
  border-radius: 5px;
  position: absolute; 
  top: 37%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.line {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  /* Defina a posição inicial fora da tela */
  transform: translateX(-100%);
}

.animacao {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Defina os keyframes para a animação */
@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0%);
  }
}

.column .line:last-child {
  background-color: transparent;
}

.dragging {
  opacity: 0.5;
  
}